body {
  font-family: monospace, sans-serif;
  background-image: url("../image/spawide.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  padding: 40vh;
  color: white;
  font-size: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.App {
  color: black;
  border: solid black 2px;
  background-color: antiquewhite;
  opacity: 0.9;
  min-width: 350px;
  max-width: max-content;
  padding: 1em;
  margin: 1em;
}

/* html {
  scroll-behavior: smooth;

}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.01em;
  color: var(--black);
  background-color: var(--wht);
} */

/***********************
 General Styling / elements
************************/
/* 
.thin {
  font-weight: 300;
}

.bold {
  font-weight: 700;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
} */

/*************
Images
**************/

/* img {
  width: 100%;
  display: block;
} */

/**************
buttons / links / li
***************/

/**************
typography
***************/

/************** 
Layout
***************/

/* .container {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
} */

/*************** 
Media Queries
****************/
